body, div, h1, h2, h3, h4, h5, h6, p, blockquote, ul {
    margin: 0;
    padding: 0;
}

html {
    color: #1A1A1A;

    font-family: Garamand, Times, serif;

    font-weight: normal;
    font-size: 100%;


    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.site {
    margin: 0 auto;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0 0.8rem 2rem #ccc;
}

div.notification {
    padding: 1rem;
    margin: 0 0 3rem 0;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-align: center;
    overflow: hidden;
    border-top: 0.1rem  #1A1A1A solid;
    border-bottom: 0.1rem  #1A1A1A solid;
}

header {

    margin: 0;
    padding: 4rem 2rem 0 2rem;

    text-align: center;
    background-color: white;

}

section, article {

    padding: 3rem 2rem 2rem;
    margin: 0;

    text-align: justify;
    hyphens:auto;
    -webkit-hyphens:auto;
    -webkit-hyphenate-character:"\2010";
    -webkit-hyphenate-limit-after:1;
    -webkit-hyphenate-limit-before:2;
    -moz-hyphens:auto;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Avenir, Helvetica, Roboto, Arial, sans-serif;*/
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
    line-height: 2.0rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.9rem;
    margin-top: 1.7rem;
    margin-bottom: 0.2rem;
}

h1.name {
    font-family: Avenir, Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Avenir, Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
}

article h1, article h2, article h3 {
    text-align: left;
    font-weight: bold;
}

p, li {
    font-size: 1.25rem;
    line-height: 1.9rem;
    margin: 0 0 1rem 0;
}

li {
    
    list-style: none;
    text-align: left;
}

a {
    color: #1A1A1A;

    cursor: pointer;

    text-decoration: underline;
    -webkit-text-decoration-skip: objects;
}


@media screen and (min-width: 50rem) {


    div.site {
        max-width: 58rem;
        margin: 3rem auto 6rem;
    }

    header {
        padding: 6rem 6rem 0 6rem;
        text-align: center;
    }

    section {
        padding: 3rem 6rem 6rem;
    }

    article {
        padding: 6rem;
    }

    h1.name {

        font-size: 2.4rem;
        line-height: 4rem;

    }
}